<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Generator grafiku</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'shiftmaestro/stylesheet.css' %}" />
  </head>

  <body>

<div class="header">
    <a class="logo">
        {% load static %}
        <img src="{% static 'shiftmaestro/shiftmaestrologo.png' %}"></a>
    <div class="header-right">
      <a href="{% url 'index' %}"> Aplikacja do generowania grafiku!</a>
      <a href="{% url 'availability' %}">Wypelnij dyspozycyjnosc</a>
      <a href="{% url 'schedule' year month %}">Twoj grafik</a>
      <a href="{% url 'logout' %}">Wyloguj</a>
      
      <br>
      <a>Witaj, {{user.name}}</a>
      {% if user.schedulemaker %}
      <a href="{% url 'schedulemaker' 0 %}"> Edytuj grafik </a>
      {% endif %}
    </div>
</div>

<h1>TWORZENIE GRAFIKU</h1>
{% if user.schedulemaker == 1 %}
{% if day_editing != 0 %}


  <div>
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  <form action= "{% url 'schedulesaved' day_editing.day %} " method="post">
  {% csrf_token %}
  {% if shiftdict %}
      <a> Edytujesz grafik na dzien {{day_editing}}</a><br>
      <a class="frame" href ="{% url 'schedulemaker' 0 %}"> Wróć do wyboru dni </a>
      <ul>
          <div class="form">
          <li>Wybierz pracowników na zmianę poranną w dniu {{day_editing}}</li>  
            {% for i in shiftdict.1 %}
              <input type="checkbox" name="formsh1{{i}}" id="choice{{ forloop.counter }}" value="{{True}}" />
              <label for="choice{{ forloop.counter }}">{{i}}</label><br />
            {% endfor %}
            {% if not shiftdict.3 %}
              <a> Nikt nie zgłosił dyspozycyjności na tę zmianę :( </a>
            {% endif %}
          </div>
          <br />
          <div class="form">
          <li>Wybierz pracowników na zmianę popołudniową w dniu {{day_editing}}</li>  
            {% for i in shiftdict.2 %}
              <input type="checkbox" name="formsh2{{i}}" id="choice{{ forloop.counter }}" value="{{True}}" />
              <label for="choice{{ forloop.counter }}">{{i}}</label><br />
            {% endfor %}
            {% if not shiftdict.3 %}
              <a> Nikt nie zgłosił dyspozycyjności na tę zmianę :( </a>
            {% endif %}
          </div>
          <br />
          <div class="form">
          <li>Wybierz pracowników na zmianę nocną w dniu {{day_editing}}</li>  
            {% for i in shiftdict.3 %}
              <input type="checkbox" name="formsh3{{i}}" id="choice{{ forloop.counter }}" value="{{True}}" />
              <label for="choice{{ forloop.counter }}">{{i}}</label><br />
            {% endfor %}
            {% if not shiftdict.3 %}
              <a> Nikt nie zgłosił dyspozycyjności na tę zmianę :( </a>
            {% endif %}
          </div>
      </ul>
  {% endif %}
  <input type="submit" value="Zapisz grafik na ten dzien" />

  </div>
{% else %}
<div>
Cześć, szefie!
To jest moduł pozwalający tworzyć i edytować grafik.
<br />
{% for i in days_list %}
  <a class="frame" href="{% url 'schedulemaker' i %}"> Przejdź do <br/><b>{{i}}</b><br/> dnia następnego miesiąca! </a>
{% endfor %}
 </div>
{% endif %}
{% else %}
  <a class="frame"> NIE MASZ UPRAWNIEN DO ROBIENIA GRAFIKU! JAK ZNALAZŁEŚ SIĘ NA TEJ STRONIE? CZYM PRĘDZEJ STĄD ZMYKAJ, NIC NIE WSKÓRASZ! </a>
{% endif %}

</body>
</html>
